$accent: #D7B399;
$dark: #212121;
$light: #F9F6F1;
$gray: #CBCFD4;
$light-gray: #F4F4F4;
$dark-gray: #8D8D8D;
$important: #D84033;

body {
    font-family: 'Montserrat', sans-serif;
}

.page-light {
    background-color: $light;
}
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 126px;
    padding-top: 56px;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    &-item {
        margin-right: 52px;
    }
    &-link{
        color: $dark;
        text-decoration: none;
        font-weight: 500;
    }
}
.cart{
    background-image: url(../img/bag.svg); 
    padding-left: 45px;
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 center;
    &-count {
        background-image: url(../img/5.svg); 
        background-repeat: no-repeat;
        background-position: 0 center;
        color: $accent;
        font-size: 12px;
        font-weight: 700;
        padding: 15px 24px;
        display: block;
    }
}
.btn {
    background-color:$accent;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 33px;
}
.main {
    display: flex;
    justify-content: space-between;
    &-item {
        flex: 0 0 50%;
    }
    .sale{
        &-desc {
            font-size: 30px;
            letter-spacing: 0.6px;
        }
        &-title{
            font-size: 50px;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 64px;
            letter-spacing: 6.1px
        }
    }
    .box {
        position: relative;
        &-price {
            position: absolute;
            right: 0;
            top: 3;
            text-align: right;
        
        &-old {
            font-size: 24px;
            font-weight: 700;
        }
        &-new {
            font-size: 24px;
            font-weight: 700;
            color: $important;
            margin-top: 23px;
        }
     }
    }
}
